@CHARSET "UTF-8";
.width-container{
	padding-top:20px;
	padding-bottom:20px;
    max-width: 720px;
    height: 100%;
    margin: 0 auto
}
.icon {
	margin-top: -50px;
	width: 70px;
	height: 70px;
	display: inline-block;
	position: absolute;
	top: 60%;
}
.item-row-pmax{
	border-bottom: 1px solid #efefef
}
.item-row-pTitle {
	border-bottom: 1px solid #efefef;
	position:relative;
	padding-bottom:10px;
}

.platform-title {
	display: inline-block;
	padding-left: 80px;
}

.p_title {
	font-size: 30px;
}

img {
	max-width: 100%;
}

.item-row-master {
	border-bottom: 1px solid #efefef
}

.masterIcon {
	
	width: 30px;
	height: 30px;
	display: inline-block;
}

.item-row-pid {
	border-bottom: 1px solid #efefef
}

.item-row-finishDate {
	border-bottom: 1px solid #efefef
}

.item-row-pwd {
	border-bottom: 1px solid #efefef
}

.item-row-pContent {
	border:solid 1px #eeeeee;
	padding:30px;
	width:100%;
	background-color: #F5F5F5;
	margin-bottom:50px;
}

.item-row-application-button {
	text-align: center;
}

#userLink:link{
	text-decoration:none;
	color:black;
}

#userLink:hover{
	text-decoration:none;
	color:#FF9800;
}
.item-row-participant-list {
	position: relative;
	height:250px;
	padding: 25px 0;
	padding-top: 50px;
	padding-bottom: 50px;
}
.item-row-participant-list .picture{
	position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.item-row-participant-list li{
	position:relative;
	display:inline-block;
	text-align:center;
}