@charset "UTF-8";

table{
    border-radius: 20px;
    margin-left: 40%;
    text-align:center;
    border-spacing: 15px;
     border-color: #FFBE0A;
    
}
th{
	border : none;
}
td{
	border : none;
}

h2{
    margin-left: 43%;
}
.sidebar{
	padding:30px;
	letter-spacing : 5px;
	line-height : 150px;
	width : 300px;
	height : 1500px;
	float : left;
	margin-top : 0%;
	
}
 .sidebar ul {
    list-style: none;

  }

  .sidebar ul li a {
    text-decoration: none; /* 밑줄 제거 */
  	color : black;
  	font-size : 25px;
  }
  .tq{
  width :100%;
  height : 100px;
  }

  
